{% extends '_base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Password Manager</h1>

        <h2>Add Password</h2>
        <form method="post" action="{{ url_for('core.password_manager') }}">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.website.label(class="form-label") }}
                {{ form.website(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                <div class="input-group">
                    {{ form.password(class="form-control", id="password") }}
                    <button class="btn btn-outline-secondary" type="button" onclick="generateRandomPassword()">Generate</button>
                </div>
                <div class="text-muted d-inline-block">Password strength: </div>
                <div id="password-strength-message" class=" d-inline-block"></div> 
            </div>
            <button type="submit" class="btn btn-primary">Add/Update</button>
        </form>

        <hr>

        <h2>Passwords</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Website</th>
                    <th>Password</th>
                    <!-- <th>Password Expiration</th> -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for password in passwords %}
                <tr>
                    <td>{{ password.website }}</td>
                    <td>
                        <div class="input-group">
                            <input type="password" class="form-control" value="{{ password.decrypt_password() }}" readonly>
                            <button class="btn btn-outline-secondary" type="button" onclick="copyPassword('{{ password.decrypt_password() }}')">Copy</button>
                        </div>
                    </td>
                    <td>
                        <form method="post" style="display: inline;" action="{{ url_for('core.delete_password', password_id=password.id) }}">
                            {{ form.csrf_token }}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function copyPassword(password) {
        const input = document.createElement('input');
        input.setAttribute('type', 'text');
        input.setAttribute('value', password);
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
        alert('Password copied to clipboard!');
    }

    function generateRandomPassword() {
    // Define characters to be used in the password
    const uppercaseLetters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    const lowercaseLetters = 'abcdefghijklmnopqrstuvwxyz';
    const numbers = '0123456789';
    const symbols = '!@#$%^&*()-_=+';

    // Combine all characters into one string
    const allCharacters = uppercaseLetters + lowercaseLetters + numbers + symbols;

    // Generate a random length between 8 and 12 characters
    const minLength = 8;
    const maxLength = 12;
    const length = Math.floor(Math.random() * (maxLength - minLength + 1)) + minLength;

    let password = '';

    // Loop to generate random characters
    for (let i = 0; i < length; i++) {
        // Generate a random index to select a character from allCharacters string
        const randomIndex = Math.floor(Math.random() * allCharacters.length);
        // Append the randomly selected character to the password
        password += allCharacters[randomIndex];
    }

    // Set the generated password to the password input field
    const passwordField = document.getElementById('password');
    passwordField.value = password;

    // Check password strength
    const strength = testPasswordStrength(password);
    

    // Display strength message
    const strengthMessage = document.getElementById('password-strength-message');
    if (strength === 'weak') {
        strengthMessage.textContent = 'Weak';
        strengthMessage.style.color = 'red';
    } else if (strength === 'moderate') {
        strengthMessage.textContent = 'Moderate';
        strengthMessage.style.color = 'orange';
    } else if (strength === 'strong') {
        strengthMessage.textContent = 'Strong';
        strengthMessage.style.color = 'green';
    }

    // Make the password visible for 5 seconds
    passwordField.type = 'text';
    setTimeout(() => {
        passwordField.type = 'password';
    }, 5000);
}

function testPasswordStrength(password) {
    // Define criteria for password strength
    const minLength = 8;
    const maxLength = 12;
    const hasUppercase = /[A-Z]/.test(password);
    const hasLowercase = /[a-z]/.test(password);
    const hasNumber = /\d/.test(password);
    const hasSymbol = /[!@#$%^&*()-_=+]/.test(password);

    // Check password length
    if (password.length < minLength || password.length > maxLength) {
        return 'weak';
    }

    // Check if password meets other criteria
    if (hasUppercase && hasLowercase && hasNumber && hasSymbol) {
        return 'strong';
    } else if ((hasUppercase && hasLowercase && hasNumber) || (hasUppercase && hasLowercase && hasSymbol) || (hasUppercase && hasNumber && hasSymbol) || (hasLowercase && hasNumber && hasSymbol)) {
        return 'moderate';
    } else {
        return 'weak';
    }
}

// Function to check password expiration status on page load
window.onload = function() {
    let allPasswordsNotExpired = true; // Flag to track if all passwords are not expired

    // Iterate through each password element
    const passwordElements = document.querySelectorAll('.password-value');
    passwordElements.forEach(function(element) {
        const passwordId = element.dataset.passwordId;
        const expirationStatusElement = document.getElementById(`expiration-status-${passwordId}`);

        // Send AJAX request to check password expiration status
        fetch(`/check-password-expiration/${passwordId}`)
        .then(response => response.json())
        .then(data => {
            const expirationStatus = data.expired ? 'Expired' : 'Not Expired';
            expirationStatusElement.textContent = expirationStatus;

            // If password is expired, prompt an alert to update password
            if (data.expired) {
                alert(`The password for ${element.textContent} has expired. Please update the password.`);
                allPasswordsNotExpired = false; // Update flag if any password is expired
            }
        })
        .catch(error => {
            console.error('Error checking password expiration:', error);
        });
    });

    // Notify if all passwords are not expired
    setTimeout(function() {
        if (allPasswordsNotExpired) {
            alert('All passwords are not expired.');
        }
    }, 1000); // Set a delay to ensure all password checks are completed
};

// Function to handle input event on the password field
document.getElementById('password').addEventListener('input', function(event) {
        // Get the entered password value
        const password = event.target.value;
        
        // Check password strength
        const strength = testPasswordStrength(password);

        // Display strength message
        const strengthMessage = document.getElementById('password-strength-message');
        if (strength === 'weak') {
            strengthMessage.textContent = 'Weak';
            strengthMessage.style.color = 'red';
        } else if (strength === 'moderate') {
            strengthMessage.textContent = 'Moderate';
            strengthMessage.style.color = 'orange';
        } else if (strength === 'strong') {
            strengthMessage.textContent = 'Strong';
            strengthMessage.style.color = 'green';
        }
    });

</script>

{% endblock %}
